In [6]:
import pandas as pd
import numpy as np
from pathlib import Path
from config import db_password

In [7]:
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [8]:
states = ['Alabama','Alaska','Arizona','Arkansas','California','Colorado','Connecticut','Delaware','Florida','Georgia','Hawaii','Idaho','Illinois','Indiana','Iowa','Kansas','Kentucky','Louisiana','Maine','Maryland','Massachusetts','Michigan','Minnesota','Mississippi','Missouri','Montana','Nebraska','Nevada','New Hampshire','New Jersey','New Mexico','New York','North Carolina','North Dakota','Ohio','Oklahoma','Oregon','Pennsylvania','Rhode Island','South Carolina','South Dakota','Tennessee','Texas','Utah','Vermont','Virginia','Washington','West Virginia','Wisconsin','Wyoming']

state_list = pd.Series(states)

In [9]:
# Load the data
path = Path('SAGDP1__ALL_AREAS_1997_2019.csv',skiprows=1,index_col=0)
df = pd.read_csv(path)

In [10]:
#Filter Title Column with the series created for states
df = df[df['GeoName'].isin(state_list)]
# Drop uneccessary columns
df1= df.drop(columns=['GeoFIPS','1997','1998','1999','2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','LineCode','TableName','Unit','IndustryClassification','Region'],  axis=1)
print(df1.shape)
df1.head()

(400, 7)

,GeoName,Description,2015,2016,2017,2018,2019
8,Alabama,Real GDP (millions of chained 2012 dollars),189428.800,191523.400,193693.000,198053.700,200829.400
9,Alabama,Chain-type quantity indexes for real GDP,101.541,102.664,103.827,106.164,107.652
10,Alabama,Current-dollar GDP (millions of current dollars),200197.500,204454.700,210895.700,221030.700,228142.600
11,Alabama,Compensation (millions of dollars),110031.400,112852.600,116633.700,121513.600,126892.800
12,Alabama,Gross operating surplus (millions of dollars),78474.900,79127.800,81325.000,85665.900,88069.600

In [11]:
# Check for non null values
df1.isnull().sum()

GeoName        0
Description    0
2015           0
2016           0
2017           0
2018           0
2019           0
dtype: int64

In [12]:
# Rename columns
column_name = ["State_Name","Description","GDP_2015","GDP_2016","GDP_2017","GDP_2018","GDP_2019"]
df1.columns=column_name
print(df1.shape)
df1.head(10)

(400, 7)

,State_Name,Description,GDP_2015,GDP_2016,GDP_2017,GDP_2018,GDP_2019
8,Alabama,Real GDP (millions of chained 2012 dollars),189428.800,191523.400,193693.000,198053.700,200829.400
9,Alabama,Chain-type quantity indexes for real GDP,101.541,102.664,103.827,106.164,107.652
10,Alabama,Current-dollar GDP (millions of current dollars),200197.500,204454.700,210895.700,221030.700,228142.600
11,Alabama,Compensation (millions of dollars),110031.400,112852.600,116633.700,121513.600,126892.800
12,Alabama,Gross operating surplus (millions of dollars),78474.900,79127.800,81325.000,85665.900,88069.600
13,Alabama,Taxes on production and imports (TOPI) less su...,11691.200,12474.300,12937.100,13851.200,13180.200
14,Alabama,Taxes on production and imports (TOPI) (milli...,12131.800,12992.200,13480.900,14310.200,13774.000
15,Alabama,Subsidies (millions of dollars),-440.700,-517.900,-543.800,-459.000,-593.700
16,Alaska,Real GDP (millions of chained 2012 dollars),54015.300,53289.000,52825.900,52928.700,53255.200
17,Alaska,Chain-type quantity indexes for real GDP,93.586,92.327,91.525,91.703,92.269

In [13]:
# Drop duplicates
df_clean = df1.drop_duplicates(['State_Name'],keep="first")
print(df_clean.shape)
df_clean.head()

(50, 7)

,State_Name,Description,GDP_2015,GDP_2016,GDP_2017,GDP_2018,GDP_2019
8,Alabama,Real GDP (millions of chained 2012 dollars),189428.8,191523.4,193693.0,198053.7,200829.4
16,Alaska,Real GDP (millions of chained 2012 dollars),54015.3,53289.0,52825.9,52928.7,53255.2
24,Arizona,Real GDP (millions of chained 2012 dollars),281935.6,291259.6,302117.8,314016.1,323597.6
32,Arkansas,Real GDP (millions of chained 2012 dollars),112938.9,113490.4,114950.7,116698.8,117447.1
40,California,Real GDP (millions of chained 2012 dollars),2437366.9,2519133.6,2628314.6,2708966.9,2800505.4

In [15]:
# Check df datatypes
df_clean.dtypes
# Convert columns to integer
df_cleaned = df_clean.astype({'GDP_2015':'int','GDP_2016':'int','GDP_2017':'int','GDP_2018':'int','GDP_2019':'int'})
# displaying the datatypes 
display(df_cleaned.dtypes) 
# Check dataframe
print(df_cleaned.shape)
df_cleaned.head()

State_Name     object
Description    object
GDP_2015        int32
GDP_2016        int32
GDP_2017        int32
GDP_2018        int32
GDP_2019        int32
dtype: object

(50, 7)

,State_Name,Description,GDP_2015,GDP_2016,GDP_2017,GDP_2018,GDP_2019
8,Alabama,Real GDP (millions of chained 2012 dollars),189428,191523,193693,198053,200829
16,Alaska,Real GDP (millions of chained 2012 dollars),54015,53289,52825,52928,53255
24,Arizona,Real GDP (millions of chained 2012 dollars),281935,291259,302117,314016,323597
32,Arkansas,Real GDP (millions of chained 2012 dollars),112938,113490,114950,116698,117447
40,California,Real GDP (millions of chained 2012 dollars),2437366,2519133,2628314,2708966,2800505

In [16]:
df_cleaned.to_csv("cleaned_gbp.csv")